html {
  background: #33352D;
  font-family: 'Montserrat';
  color: #FFFFFF;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.centered {
  text-align: center;
}

.coming_soon {
  font-size: 28px;
  font-weight: bold;
}

.purple {
  font-size: 16px;
  color: #CA8AFA;
}

header {
  width: 100%;
  height: 150px;
  background: #1E1E1A;
  box-shadow: 1px 1px 10px black;
  border-bottom: 1px solid rgb(22,22,22);
}

.container {
  width: 960px;
  margin: 0 auto;
}

.container img {
  display: inline-block;
}

.nav {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 0;
}

.nav ul{
  display: inline-block;
}

li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  color: #9DEA2E;
}

.wide li {
  padding: 0 0 0 20px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding: 20px;
  line-height: 25px;
  margin: 50px 0 0;
  border-radius: 4px;
  background: #1E1E1A;
  color: #EAE57C;
  font-size: 20px;
  box-shadow: 0px 2px 9px rgb(12,12,12);
  border: 1px solid rgb(22,22,22);
}

.title {
  display: block;
  margin: 0 0 20px 0;
  font-size: 34px;
  color: #00C2F0;
}

.large_title {
  font-size: 34px;
  color: #F3024C;
}

footer {
  height: 180px;
  width: 100%;
  background: #1E1E1A;
  margin: 30px 0 0;
  padding: 20px 0 0;
  box-shadow: 1px -1px 10px black;
  border-top: 1px solid rgb(22,22,22);
}

.large_green {
  color: #9DEA2E;
  font-size: 34px;
  font-weight: bold;
}

.twitter {
  width: 60px;
  height: 61px;
  background: url("../images/twitter.png") no-repeat;
  display: inline-block;
  
}

.twitter:hover {
  background: url('../images/twitter-green.png') no-repeat;
}

.email {
  width: 60px;
  height: 61px;
  background: url("../images/email.png") no-repeat;
  display: inline-block;
}

.email:hover {
  background: url('../images/email-green.png') no-repeat;
}

@media screen and (max-width: 480px){
	html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 260% 100%;
	}
}