html {
	height: 100%;
	font-family: 'Montserrat';
	background: url('../images/andy-shirt-3.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

body {
	height: 100%;
	overflow: auto;
}

/* CONTENT 
======================*/

header {
	padding-top: 50px;
}

.header-wrap {
	background: rgba(106, 165, 114, 0.92);
	padding-bottom: 50px;
	text-align:center;
}

.head-wrap {
}

.desc {
	background: white;
}


#logo {
	height: 150px;
}

.contact {
	display: inline-block;
	text-align: center;
	margin: 0 20px;
}

#description {
	text-align: left;
	display: block;
	margin: 0 auto 30px;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	text-shadow: 1px 2px 3px #3E641A;
}

#welcome {
	line-height: 75px;
	color: #FFFFFF;
	text-shadow: 1px 2px 3px #3E641A;
}

.main {
	margin: 150px auto 0;
	background: rgba(106, 165, 114, 0.92);
	color: #ffffff;
	text-align: center;
	padding: 20px;
}

.main ul {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}

/* BUTTONS
======================*/

.email {
	width: 60px;
	height: 61px;
	background: url("../images/email.png") no-repeat;
	display: inline-block;
}

.email:hover {
	background: url('../images/email-green.png') no-repeat;
}

.twitter {
	width: 60px;
	height: 61px;
	background: url("../images/twitter.png") no-repeat;
	display: inline-block;
}

.twitter:hover {
	background: url('../images/twitter-green.png') no-repeat;
}

@media screen and (max-width: 480px){
	html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 260% 100%;
	}
}