/* UTILITIES */

html {
	background: #33352D;
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 150px;
  background: #1E1E1A;
  box-shadow: 1px 1px 10px black;
  border-bottom: 1px solid rgb(22,22,22);
  position: relative;
}

header li:hover {
	color: #ffffff;
}

footer {
  height: 180px;
  width: 100%;
  background: #1E1E1A;
  margin: 30px 0 0;
  padding: 20px 0 0;
  box-shadow: 1px -1px 10px black;
  border-top: 1px solid rgb(22,22,22);
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
	color: #40E0C0;
}

li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  color: #40E0C0;
  line-height: 26px;
}

p {
	margin: 0 100px 20px 30px;
	color: #40E0C0;
}

.centered {
  text-align: center;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.section {
  padding: 20px 5px;
  line-height: 25px;
  margin: 50px 0 0;
  border-radius: 4px;
  background: #1E1E1A;
  font-size: 20px;
  box-shadow: 0px 2px 9px rgb(12,12,12);
  border: 1px solid rgb(22,22,22);
}

/* SPECIFICS */

.logo {
  position: absolute;
  top: 0px;
  left: 10px;
}

.container img {
  display: inline-block;
}

.coming_soon {
  font-size: 28px;
  font-weight: bold;
}

.nav {
  display: inline-block;
  float: right;
  margin: 100px 10px 0;
  padding: 0;
}

.nav ul{
  display: inline-block;
}

ul {
	padding: 0;
}

.wide li {
  margin: 0 auto;
}

.title {
  display: block;
  margin: 0 0 20px 10px;
  font-size: 34px;
  color: #00C2F0;
}

.large_title {
  font-size: 34px;
  color: #FFB222;
}

.parens {
	color: white;
}

.next-meet {
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  font-style: italic;
  font-variant: small-caps;
}

#topics {
	padding-left: 30px;
}

#topics li {
	line-height: 30px;
	display: list-item;
	list-style-type: circle;
}

.change:hover {
	color: white;
}

/* BUTTONS */

.twitter {
  width: 60px;
  height: 61px;
  background: url("../images/twitter.png") no-repeat;
  display: inline-block;
}

.twitter:hover {
  background: url('../images/twitter-green.png') no-repeat;
}

.email {
  width: 60px;
  height: 61px;
  background: url("../images/email.png") no-repeat;
  display: inline-block;
}

.email:hover {
  background: url('../images/email-green.png') no-repeat;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1060px){
	.container {
		width: 760px;
	}
}

@media screen and (max-width: 768px){
	header {
		padding: 10px 0 65px;
	}

	.container {
		width: 500px;
	}

	.nav {
		float: none;
		margin: 165px 12px;
	}
	
	.title, .large_title {
		font-size: 23px;
		line-height: 35px;
	}
}

@media screen and (max-width: 480px){
	.container {
		width: 370px;
	}

	p {
		width: 300px;
	}

}

@media screen and (max-width: 320px){
	.container {
		width: 320px;
	}

	li {
		font-size: 17px;
	}

	p {
		width: 250px;
	}
}


