/* UTILITIES */

html {
	background: #282828;
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

html * {
  vertical-align: top;
}

body {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  background: #343434;
  border-bottom: 1px solid rgb(22,22,22);
}

header li:hover {
	color: #ffffff;
}

footer {
  height: 370px;
  width: 100%;
  background: #222;
  margin: 30px 0 0;
  padding: 20px 0 0;
  border-bottom: 1px solid #161616;
}

.nav li  a {
  color: #fff;
}

.nav li  a:hover {
  color: #40E0C0;
}

a {
  text-decoration: none;
  color: #40E0C0;
}

a:hover {
	color: #fff;
}

li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  color: #fff;
  line-height: 26px;
}

p {
	margin: 0 100px 20px 30px;
	color: #fff;
}

.centered {
  text-align: center;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.section {
  padding: 20px;
  line-height: 25px;
  /*margin: 20px;*/
  border-radius: 4px;
  /*background: #272822;*/
  font-size: 20px;
  /*box-shadow: 0px 2px 9px rgb(12,12,12);*/
  /*border: 1px solid rgb(22,22,22);*/
}

/* SPECIFICS */

.logo {
  height: 130px;
  width: 215px;
  margin-top: 14px;
}

.container img {
  display: inline-block;
}

.nav {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
}

.nav ul{
  display: inline-block;
}

ul {
	padding: 0;
}

.wide li {
  margin: 0 auto;
}

.title {
  display: block;
  margin: 0 0 20px 10px;
  font-size: 34px;
  color: #00C2F0;
}

.large_title {
  font-size: 34px;
  color: #FFB222;
}

.parens {
	color: white;
}

.next-meet {
  font-size: 30px;
  line-height: 37px;
  color: #40E0C0;
  font-style: italic;
  font-variant: small-caps;
}

#topics {
	padding-left: 50px;
}

#topics li {
	line-height: 30px;
	display: list-item;
	list-style-type: circle;
}

.change:hover {
	color: white;
}

.var {
  display: inline-block;
  position: relative;
  top: 20px;
  margin-left: 30px;
  color: #fff;
  font-size: 20px;
}

.lil-left {
  position: relative;
  left: -5px;
}

.inl-b {
  display: inline-block;
}

.return {
  display: inline-block;
  color: #D32741;
  font-size: 20px;
  margin: 20px 10px 30px 30px;
}

.gjs {
  display: inline-block;
  color: #fff;
  font-size: 28px;
  margin-top: 15px;
}

.gjs:hover {
  color: #40E0C0;
}
/* BUTTONS */

.twitter {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 61px;
  background: url("../images/twitter.png") no-repeat;
  background-size: 50px;
}

.twitter:hover {
  background: url('../images/twitter_hover.png') no-repeat;
  background-size: 50px;
}

.email {
  width: 60px;
  height: 61px;
  background: url("../images/email.png") no-repeat;
  background-size: 66px;
  display: inline-block;
}

.email:hover {
  background: url('../images/email_hover.png') no-repeat;
  background-size: 66px;
}

.pin {
  width: 60px;
  height: 61px;
  display: inline-block;
  background: url('../images/pin_map.png') no-repeat;
  background-size: 50px;
}

.pin:hover {
  background: url('../images/pin_map_hover.png') no-repeat;
  background-size: 50px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1060px){
	.container {
		width: 760px;
	}
}

@media screen and (max-width: 768px){
	header {
		padding: 10px 0 65px;
	}

	.container {
		width: 500px;
	}

	.nav {
    margin: 0 auto;
    display: block;
    /* position: absolute; */
    /* right: 90px; */
    bottom: -70px;
    padding: 0;
    width: 100%;
	}
	
	.title, .large_title {
		font-size: 23px;
		line-height: 35px;
	}
}

@media screen and (max-width: 480px){
	.container {
		width: 370px;
	}

	p {
		width: 300px;
	}

  img.logo {
    display: block;
    margin: 0 auto;
  }

  header {
    width: 106%;
  }
  footer {
    width: 106%;
    height: 460px;
  }

}

@media screen and (max-width: 320px){
	.container {
		width: 320px;
	}

	li {
		font-size: 17px;
	}

	p {
		width: 250px;
	}
}


